<div>
  <form [formGroup]="this.pingForm">
    <input class="input" id="pingInput" #pingInput type="text" formControlName="ip" placeholder= "IP"/>
    &nbsp;
    <input class="input" id="countInput" #countInput type="number" formControlName="count" placeholder= "count"/>
    </form>
    <br>
    <button [disabled]="this.pingForm.invalid" id="pingbutton" type="button" 
    (click)="this.ping(pingInput.value, countInput.value)">Ping</button> &nbsp;
  <label>{{this._pingTimes}}</label>
</div>
<br>
<div>
  <button id="testbutton" type="button" 
    (click)="this.test()">Speedtest</button> &nbsp;
  <label>{{this._speedResults}}</label>
</div>
<router-outlet></router-outlet>